body{
    font-family: Verdana;
    text-align: center;
}
#btn{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
#container{
    display: inline-block;
    background-color: bisque;
    border-radius: 5px;   
    padding: 5px;
}
.div{
    margin : 0;
    padding:0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
}
.Label{
    font-size: 3em;
}
#d1{
    background-color: aqua;
}
#d2{
    background-color: yellow;
}
#d3{
    background-color: lime;
}